* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

a {
  color: white;
  text-decoration: none;
}

#btnVoltar a {
  color: black;
}

label {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

#logo {
  width: 100px;
  height: auto;
  margin: 0 auto;
}

#formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: linear-gradient(135deg, purple, #2d003d, #89023e, #ff6b6b);
  color: white;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

#formulario input {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid gray;
  width: 100%;
  margin-bottom: 10px;
}

li {
  color: white;
  list-style: none;
  margin: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  margin: 0 20px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#btnVoltar,
#btnLogin {
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  color: black;
  background-color: white;
  border: 2px solid black;
}

#btnLogin:hover,
#btnVoltar:hover {
  background-color: pink;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

.cabecalho {
  background: linear-gradient(135deg, purple, #2d003d, #89023e, #ff6b6b);
  width: 100%;
  border: none;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  margin-left: 1%;
}