/* Reset CSS */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos gerais */
  body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
    font-weight: 700;
    font-size: 40px;
  }
  
  a, p {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Conteúdo */
  .conteudo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .imggta6 {
    margin-top: 60px;
    margin-left: 1px;
    width: 70%;
    height: 50%;
    border-radius: 5px;
    float: left;
  }
  
  .lateral {
    display: flex;
    color: white;
    font-size: 20px;
    margin-left: 30px;
    flex-direction: column;
  }
  
  #logo {
    width: 100px;
    height: auto;
    margin: 0 auto;
  }
  
  .cabecalho {
    background: linear-gradient(135deg, purple, #2d003d, #89023e, #ff6b6b);
    width: 100%;
    border: none;
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
  }
  
  .menu {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    margin-left: 1%;
  }
  
  ul {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: flex;
    margin: 0 20px;
  }
  
  .btn {
    background-color: #ff6b6b;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 15%;
    margin-top: 50px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 400px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .btn:hover {
    background: linear-gradient(135deg, purple, #2d003d, #89023e, #ff6b6b);
    transition: 0.5s;
  }
  
  /* Rodapé */
  footer {
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 0;
  }
  
  .rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .rodape ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    /* Ajuste para o canto esquerdo */
  }
  
  .rodape p {
    margin: 0;
    position: absolute;
    right: 20px;
    /* Ajuste para o canto direito */
  }