/* Reset de estilos para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
    font-family: Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

li {
    color: white;
    list-style: none;
    margin: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
    margin: 0 20px;
}

#logo {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.cabecalho {
    background: linear-gradient(135deg, purple, #2d003d, #89023e, #ff6b6b);
    width: 100%;
    border: none;
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    margin-left: 1%;
}

/* Estilos para a tabela */
#lista table {
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0 auto;
    background: linear-gradient(135deg, purple, #2d003d, #89023e, #ff6b6b);
    color: white;
    border-radius: 20px;
    border-collapse: collapse;
}

#lista td {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 20px;
    text-align: center;
    /* Adiciona bordas para separar as células */
}


#lista th {
    padding: 10px;
    border: 1px solid #333;
    background-color: #333;
}

/* Estilos para botões */
#btnEditar,
#btnExcluir {
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    color: black;
    background-color: white;
    border: 2px solid black;
}

#btnEditar:hover,
#btnExcluir:hover {
    background-color: pink;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}